	<!-- 1 -->
	<div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
	    <div class="v4--canvas-1">
	        <div class="card-img">
	            <div class="img-<?= $locale; ?>">
	                <img src="%cdn_path%resources/speak_train_ielts_3/{{ index }}/{{ index }}-1.png">
	            </div>
	            <div class="text-btn-con lang-scale">
	                <div class="card-text card-ex1 translation-btn-control">
	                    <div class="space teacher_hide"></div>
	                    <div class="trans-toggle text-off teacher_hide lang-translation display_no"><img src="%base_path%resources/common/images/icon/icon-translate.png"></div>
	                    <p class="empty-paragraph"><img class="trans_btn_img_f_r lang-translation teacher_hide lang-hide-2" src="%base_path%resources/  common/images/icon/icon-translate.png"></p>
	                    <div class="clearfix clear-after teacher_hide"></div>
	                </div>
	                <div class="clearfix teacher_hide"></div>
	                <div class="toggle-content-wrap func_slide_toggle_target hide translate_btn_content">
	                    <div class="card-text lang-translation scroll-to-content jp_content lang-hide-2">
	                        <div class="m_b_10">
	                            <p class="clickToToggleTranslate fs_20">{{ title.eng }} 3</p>
	                            <span class="lang-translation lang-locale lang-hide-2 fs_16 cc_grey">
	                                <?php echo __d($po_name, "{{ title.jp }}") ?> 3
	                            </span>
	                        </div>
	                        <div>
	                            <p class="fs_20">{{ heading.eng }} 1</p>
	                            <span class="lang-translation lang-locale lang-hide-2 fs_16 cc_grey">
	                                <?php echo __d($po_name, "{{ heading.jp }}"); ?> 1
	                            </span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>