<?php $page_num = 0; ?>
<article class="webtext native_expression native_expression_teacher ielts tb--v4 lang-<?php echo $locale; ?>" id="webtext_%class_id%_%chapter_id%" data-class_id="%class_id%" data-chapter_id="%chapter_id%" data-orderno="%orderno%">
    <!-- 1 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book full-h">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="{{ item_number }}/{{ item_number }}-1.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><em>(After small talk)</em></p>
                                    <p><q>Let's start the lesson. You chose <b>{{ title }} 3 {{ heading }} 1</b>. Is this correct?</q></p>
                                    <p><q>Great. Let's move to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p>{{ title }} 3</p>
                                            <p>{{ heading }} 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-2.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>This is the index page.<br>It shows today's activities in this lesson.</q></p>
                                    <p><em>(after a few seconds)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Index</p>
                                            <ol>
                                                <li>01. Notice for the student</li>
                                                <li>02. Revision card</li>
                                                <li>03. General Question 1</li>
                                                <li>04. General Question 2</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-3.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Please check the Notice for the student.</q></p>
                                    <p><em>(after a few seconds)</em></p>
                                    <p><q>Let's check the first activity on the next page.</q></p>


                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Notice for the student</p>
                                            <p class="m_b_20">1. This lesson will use a speech recognition system to check answers.</p>
                                            <p>2. Be sure to use wired earphones/ headphones during the lesson.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 4 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-4.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <p><q>Let’s check <b>Revision card</b>.</q></p>
                                <p><q>Let’s move on to the next page.</q></p>
                                <div class="bg-gray t_color-black_2 m_t_20">
                                    <div>
                                        <p class="t_color-blue_2">For textbook copying</p>
                                        <p class="m_b_20">Revision card</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 5 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-5.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>{{ title }} 3 involves questions based on the topic that you had in part 2.</q></p>
                                    <p><q>Please check the topic from part 2 first.</q></p>
                                    <p><em>(after a few seconds)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>


                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Revision card</p>
                                            <p class="m_b_20">{{ revision_card_desc }}</p>
                                            <p>You should say:</p>
                                                <div class="m_b_20 m_t_20">
                                                    {{#revision_card_say_list}}
                                                        <p>• {{ value }}</p>
                                                    {{/revision_card_say_list}}
                                                </div>
                                            <p class="m_b_20">{{ revision_card_say_explain }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 6 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-6.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Let's check <b>General Question 1.</b></q></p>
                                    <p><q>This part has 2 tasks.</q></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p>General Question 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 7 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-7.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Please check the directions for Task 1.</q></p>
                                    <p><em>(after a few seconds)</em></p>
                                    <p><q>Are you done?<br>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 1</p>
                                            <p>Directions</p>
                                            <div class="m_t_20">
                                                <p>❶ First, the teacher will ask a question related to Revision Card.</p>
                                                <p>❷ Then, the student will answer to the question.The teacher will record the student's answer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 8 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-8.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Now, I'd like to discuss with you about a general question related to Revision Card.</q></p>
                                    <p><q>Please try to express and justify your opinion.</q></p>
                                    <p><q>I will click the recording button before and after answering.<br>Please say "I'm done" when you finish. Are you ready?</q></p>
                                    <p><em>(click the "start" recording button)</em></p>

                                    <div class="m_t_20 m_b_20">
                                        <div class="speech-recognition-scope" data-question="speak_train_ielts">
                                            <?php include __DIR__ . '/../elements/speech_recognition_send2.html'; ?>
                                            <div class="recording-timer" data-seconds="300" style="display: none;"></div>
                                        </div>
                                    </div>

                                    <p>General Question 1</p>
                                    <p>
                                        <q><b>T:</b> {{ question_1 }}</q><br>
                                        <em>S: ••••</em>
                                    </p>

                                    <p><em>(click the "stop" recording button)</em></p>

                                    <p class="cc_orange">(The audio file will appear into the chatbox after 5 seconds)</p>

                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 1</p>
                                            <p>Listen carefully to the teacher's first question.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 9 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-9.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Please check the directions for Task 2.</q></p>
                                    <p><em>(after a few seconds)</em></p>
                                    <p><q>Are you done?<br>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p>Directions</p>

                                            <div>
                                                <p>❶ First, the student and teacher will listen to the student's recording.</p>
                                                <p>❷ Second, the student will give feedbacks to his/her own recording.</p>
                                                <p>❸ Then, teacher will give feedbacks.</p>
                                                <p>❹ Finally, the student will try the questions again based on self-feedback and feedback from the teacher.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 10 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-10.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Let's listen to the whole audio of our conversation and check if there are any parts you can improve. I'll start playing the audio now.</q></p>
                                    <p><em>(click the audio file in the chatbox)</em></p>
                                    <p><em>(after listening)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p class="m_b_20">❶ Listen to the recoding</p>
                                            <p>{{ question_1 }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 11 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-11.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Before I give you my feedback, could you share your thoughts on where you think you can improve?</q></p>
                                    <p><em>(after answering)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p class="m_b_20">❷ Self feedback</p>
                                            <p>{{ question_1 }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 12 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-12.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Now, this is my feedback to you.</q></p>
                                    <p class="cc_orange">*correct or suggest at least 2 parts.</p>
                                    <p><em>e.g.,</em></p>
                                    <p><q><b><b>T:</b></b> You said ~<em>(e.g., an apple)</em>~, but it's better to say ~<em>(e.g., an apple)</em>~</q></p>
                                    <p><q><b><b>T:</b></b> Repeat after me, ~<em>(e.g., an apple)</em>~ S: ~<em>(e.g., an apple)</em>~</q></p>
                                    <p><em>(after repeating)</em></p>
                                    <p><q>Great. Do you have any questions so far?</q></p>
                                    <p><em>(after answering)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p class="m_b_20">❸ Teacher's feedback</p>
                                            <p>{{ question_1 }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 13 -->
    <div class="webtext_page webtext_page_break/ no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-13.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>This time, let's try the same question again with your self-feedback and teacher's feedback in mind!</q></p>
                                    <p><q>Are you ready?<br>Please say "I'm done" when you finish.<br>I'm going to click the record button now.</q></p>
                                    <p><em>(click the "start" recording button)</em></p>

                                    <div class="m_t_20 m_b_20">
                                        <div class="speech-recognition-scope" data-question="speak_train_ielts">
                                            <?php include __DIR__ . '/../elements/speech_recognition_send2.html'; ?>
                                            <div class="recording-timer" data-seconds="300" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <p>General Question 1</p>
                                    <p>
                                        <q><b>T:</b> {{ question_1 }}</q><br>
                                        <em>S: ••••</em>
                                    </p>
                                    <p><em>(click the "stop" recording button)</em></p>
                                    <p class="cc_orange">(The audio file will appear into the chatbox after 5 seconds)</p>
                                    <p><q>Let's listen to your recording. I'll play it now.</q></p>
                                    <p><em>(click the audio file in the chatbox)</em></p>
                                    <p><em>(after listening)</em></p>
                                    <p><q>Good job. You have improved this time.</q></p>
                                    <p><em>(after giving feedback if necessary)</em></p>
                                    <p><q>Do you have any questions so far?</q></p>
                                    <p><em>(after answering)</em></p>
                                    <p><q>Let's move on to General Question 2</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p class="m_b_20">❹ Try again</p>
                                            <p>{{ question_1 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 14 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-14.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Let's check <b>General Question 2.</b></q></p>
                                    <p><q>This part also has 2 tasks.</q></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p>General Question 2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 15 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-15.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>I'd like to discuss with you about a general question related to Revision Card.</q></p>
                                    <p><q>Please try to express and justify your opinion.</q></p>
                                    <p><q>I will click the recording button before and after answering.<br>Please say "I'm done" when you finish.</q></p>
                                    <p><q>Are you ready?</q></p>
                                    <p><em>(click the "start" recording button)</em></p>

                                    <div class="m_t_20 m_b_20">
                                        <div class="speech-recognition-scope" data-question="speak_train_ielts">
                                            <?php include __DIR__ . '/../elements/speech_recognition_send2.html'; ?>
                                            <div class="recording-timer" data-seconds="300" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <p>General Question 2</p>
                                    <p>
                                        <q><b>T:</b> {{ question_2 }}</q><br>
                                        <em>S: ••••</em>
                                    </p>
                                    <p><em>(click the "stop" recording button)</em></p>
                                    <p class="cc_orange">(The audio file will appear into the chatbox after 5 seconds)</p>
                                    <p><q>Let's listen to your recording. I'll play it now.</q></p>
                                    <p><q>Let's move on to General Question 2</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 1</p>
                                            <p>Listen carefully to the teacher's second question.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 16 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-16.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Let's listen to the whole audio of our conversation and check if there are any parts you can improve. I'll start playing the audio now.</q></p>
                                    <p><em>(click the audio file in the chatbox)</em></p>
                                    <p><em>(after listening)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p class="m_b_20">❶ Listen to the recording</p>
                                            <p>{{ question_2 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 17 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-17.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Before I give you my feedback, could you share your thoughts on where you think you can improve?</q></p>
                                    <p><em>(after answering)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p class="m_b_20">❷ Self feedback</p>
                                            <p>{{ question_2 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 18 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-18.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>Now, this is my feedback to you.</q></p>
                                    <p class="cc_orange">*correct or suggest at least 2 parts.</p>
                                    <p><em>e.g.,</em></p>
                                    <p><q><b><b>T:</b></b> You said ~<em>(e.g., an apple)</em>~, but it's better to say ~<em>(e.g., an apple)</em>~</q></p>
                                    <p><q><b><b>T:</b></b> Repeat after me, ~<em>(e.g., an apple)</em>~ S: ~<em>(e.g., an apple)</em>~</q></p>
                                    <p><em>(after repeating)</em></p>
                                    <p><q>Great. Do you have any questions so far?</q></p>
                                    <p><em>(after answering)</em></p>
                                    <p><q>Let's move on to the next page.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p class="m_b_20">Task 2</p>
                                            <p class="m_b_20">❸ Teacher's feedback</p>
                                            <p>{{ question_2 }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 19 -->
    <div class="webtext_page webtext_page_break no-padding native-background" id="webtext_page_%class_id%_%chapter_id%_<?php echo ++$page_num; ?>">
        <div class="padding_3_2">
            <div class="box_wt_2columns no_ratio right_scrollable tb--2021-teacher m_b_20">
                <div class="wt_col book">
                    <div class="book_wrap">
                        <div class="v4--canvas-1">
                            <div class="card-img">
                                <div class="img-<?= $locale; ?>">
                                    <img src="%cdn_path%resources/speak_train_ielts_3/{{ item_number }}/{{ item_number }}-19.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wt_col note">
                    <div class="scroll_container">
                        <div class="scroll_wrap">
                            <div class="tb--2021">
                                <div class="tb--2021-teacher-note">
                                    <p><q>This time, let's try the same question again with your self-feedback and teacher's feedback in mind!</q></p>
                                    <p><q>Are you ready?<br>Please say "I'm done" when you finish.<br>I'm going to click the record button now.</q></p>
                                    <p><em>(click the "start" recording button)</em></p>

                                    <div class="m_t_20 m_b_20">
                                        <div class="speech-recognition-scope" data-question="speak_train_ielts">
                                            <?php include __DIR__ . '/../elements/speech_recognition_send2.html'; ?>
                                            <div class="recording-timer" data-seconds="300" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <p>General Question 2</p>
                                    <p>
                                        <q><b>T:</b> {{ question_2 }}</q><br>
                                        <em>S: ••••</em>
                                    </p>
                                    <p><em>(click the "stop" recording button)</em></p>
                                    <p class="cc_orange">(The audio file will appear into the chatbox after 5 seconds)</p>
                                    <p><q>Let's listen to your recording. I'll play it now.</q></p>
                                    <p><em>(click the audio file in the chatbox)</em></p>
                                    <p><em>(after listening)</em></p>
                                    <p><q>Good job. You have improved this time.</q></p>
                                    <p><em>(after giving feedback if necessary)</em></p>
                                    <p><q>Do you have any questions so far?</q></p>
                                    <p><em>(after answering)</em></p>
                                    <p><q>That's all for today.</q></p>

                                    <div class="bg-gray t_color-black_2 m_t_20">
                                        <div>
                                            <p class="t_color-blue_2">For textbook copying</p>
                                            <p>Task 2</p>
                                            <p class="m_b_20">❹ Try again</p>
                                            <p>{{ question_2 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>