@use 'sass:math'
// card component
.card
    max-width: 360px
    // max-width: 300px
    position: relative
    &__img-wrap
        outline: 1px dotted green
        border-radius: .4rem
        aspect-ratio: 1.54/1
        overflow: hidden
        border-radius: var(--brdr-radius)

        img
            object-fit: cover
            width: 100%

    &__controls
        position: absolute
        top: .4rem
        right: .4rem
        display: flex
        gap: .4rem

    &__body
        margin-block-start: .75em

    &__title
        margin-block-end: .1em

    &__add-btn
        aspect-ratio: 1.54/1
        width: 100%
        border-radius: var(--brdr-radius)
        border: 1px dashed var(--__color)
        span
            display: block
            font-size: 1.8rem

    .link
        --__fs: 1.4rem

// input component
.input-wrap
    label
        --__fs: 1.4rem
        --__color: var(--text-default-faded)
        display: block
        font-size: var(--__fs)

    input[type='text']
        --__fs: 1.6rem
        --__pad-x: .8em
        --__pad-y: .6em
        --__radius: calc(var(--brdr-radius) / 2)
        --__width: 100%

    &:focus-within
        input[type='text']
            --__bg: #f0f0f0

        label
            --__color: var(--text-default)

    &--text
        display: flex
        flex-flow: column
        gap: calc(var(--gap) / 2)

    &--select
        position: relative
        &__options
            position: absolute
            top: 100%
            background: #ffffff
            width: 100%
            border-radius: calc(var(--brdr-radius) / 2)
            overflow-y: auto
            z-index: 999
            max-height: 300px
            overflow-y: auto

            &:hover
                // background: #ffffffx

            .option
                --__option-bg: #f0f0f0
                display: flex
                flex-flow: row nowrap
                padding: .6em
                gap: calc(var(--gap) / 2)
                position: relative
                cursor: pointer
                background: var(--__option-bg)
                transition: background .2s ease-out

                &:not(:last-child)
                    border-bottom: 1px solid #D9D9D9

                &__preview
                    min-width: 42px
                    max-width: 42px
                    aspect-ratio: 1/1
                    position: relative
                    overflow: hidden
                    position: relative
                    border-radius: calc(var(--brdr-radius) / 3)

                    img
                        height: 100%
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)

                &__body
                    .link
                        font-size: 1.2rem

                &__action
                    display: none
                    position: absolute
                    top: .6em
                    right: .6em

                &:hover
                    --__option-bg: #ffffff
                    .option
                        &__action
                            display: unset
// button
.btn
    &.primary, &.icon-primary
        --__bg: #1a93e9
        --__color: #ffffff
        &:hover
            --__bg: #47ACF4

    &.secondary, &.icon-secondary
        --__bg: #e6a326
        --__color: #ffffff
        &:hover
            --__bg: #f1af35

    &.danger, &.icon-danger
        --__bg: #e43048
        --__color: #ffffff
        &:hover
            --__bg: #f05368

    &--icon, &.icon
        padding: unset
        // background: transparent
        width: 2.4rem
        height: 2.4rem
        transition: color .2s ease-in-out

        svg
            line-height: 0
            display: block
            margin: auto
            vertical-align: middle
        // --__color: #b4b6b9

        &:hover
            // --__color: var(--text-default)

// DownloadStrip
.download-strip
    --__pad-x: .8em
    --__pad-y: .6em
    --__bg: #F4F4F4
    --__max-w: 360px
    padding: var(--__pad-y) var(--__pad-x)
    border-radius: var(--brdr-radius)
    position: relative
    background: var(--__bg)
    cursor: default
    max-width: var(--__max-w)
    &__detail
        .detail
            position: relative
            padding-inline-start: 1.5em
            &__icon
                position: absolute
                left: 0
                top: 0
            span
                --__fs: 1.4rem
                color: var(--text-default-faded)

    .icon-download
        position: absolute
        right: calc(var(--__pad-x) / 2)
        top: calc(var(--__pad-y))

    &:hover
        --__bg: #eeeeee

.file-field
    text-align: center

    &__thumbnail
        aspect-ratio: 3/1.5
        max-width: 600px
        margin-inline: auto
        position: relative
        isolation: isolate

        .file-upload-button
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: 1

        .html-preview
            width: 100%
            height: 100%
            position: relative
            isolation: isolate
            img
                aspect-ratio: 3/1.5
                height: 100%
            .caption
                position: relative
                display: block
                margin-top: .5em
                color: var(--text-default-faded)

            &::after
                content: ''
                position: absolute
                background: #00000010
                backdrop-filter: blur(4px)
                z-index: 1
                inset: 0

    input
        display: none
