@use 'sass:math'

.card
    --__bg: #1F263D
    --__img-size: 100%
    --__ratio: 1.36/1
    --__grid-layout: "info favorite" "tags tags"
    border-radius: .6em
    padding: .4em
    display: flex
    transition: all .2s ease-in
    background: var(--__bg)
    gap: .4em .8em

    &__img
        position: relative
        aspect-ratio: var(--__ratio)
        overflow: hidden
        border-radius: .3em
        img
            object-fit: cover
            height: var(--__img-size)
            width: var(--__img-size)

    &__meta
        display: grid
        grid-template-areas: var(--__grid-layout)
        align-items: center
        width: 100%
        gap: .4em
        .info
            grid-area: info
            .author
                font-size: 1.4rem
        .tags
            grid-area: tags
            display: flex
            gap: .6em
        .favorite
            align-self: start
            grid-area: favorite
            justify-self: end

    &:hover
        --__bg: #29314E
        box-shadow: 0 2px 8px -2px #10183070

    &.focused
        --__bg: #29314E
        outline: 2px solid #22fbb692

    &.grid
        --__img-size: 100%
        --__grid-layout: "info favorite" "tags tags"
        flex-flow: column
        gap: .6em

    &.list
        --__img-size: 80px
        --__ratio: 1/1
        --__grid-layout: "info favorite" "tags tags"
        flex-flow: row
