.icon_text
    margin-block-start: .4rem
    vertical-align: top

    svg
        margin-inline-end: .4rem
        padding: 0
        display: inline-block
        vertical-align: middle
        color: #3A466C
