.tooltip
    position: relative
    isolation: isolate
    display: block

    &__tip
        position: absolute
        left: 100%
        display: inline-block
        width: 100%
        max-width: 400px
        top: 0
    
.icon_text
    margin-block-start: .4rem
    vertical-align: top

    svg
        margin-inline-end: .4rem
        padding: 0
        display: inline-block
        vertical-align: middle
        color: #3A466C
