.view
    display: flex
    flex-flow: column
    height: 100dvh
    .main
        flex: 1

.templates
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: max-content
    gap: var(--gap)

.form
    display: flex
    flex-flow: column
    gap: calc(var(--gap) * 1.5)

    .fields
        display: flex
        flex-flow: column nowrap
        gap: calc(var(--gap) / 2)

    .commands
        display: flex
        flex-flow: row nowrap
        gap: var(--gap)

.block-table
    display: grid
    grid-template-rows: repeat(auto, 1fr)
    grid-template-columns: repeat(2, 1fr)
    gap: var(--gap)

.navbar
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    padding-block: 1.4em

    .menu
        display: flex
        flex-flow: row nowrap
        list-style: none
        gap: var(--gap)

        &__item
            font-weight: 600

            a
                color: var(--theme-text-color-cool)
                text-transform: capitalize
                &:hover
                    color: var(--theme-text-color-cool-accent)

.panel
    padding: var(--gap)
    background: var(--panel-bg)
    height: 100%
    outline: 1px dashed red

    &--sidebar
        .categories
            display: flex
            flex-flow: column
            .item
                a
                    display: block

.footer
    border-top: 1px solid #dfdfdf
