:root
    --bg-default: #ffffff
    --color-primary: #006EBD
    --color-primary-accent: #1634a0
    --text-default: #1D1D1D
    --text-default-faded: #1d1d1daf
    --text-field-color: #101010
    --panel-bg: #f2f2f2

    --brdr-radius: .4rem

    --gap: 1.2em

[data-theme="light"]
    --bg-default: #ffffff
    --text-default: #1D1D1D
    --text-default-faded: #1d1d1daf
    --panel-bg: #f2f2f2
[data-theme="dark"]
    --bg-default: #0d1117
    --text-default: #c9d1d9
    --text-default-faded: #f8f8f8
    --panel-bg: #161b22
