:root
    --bg-default: #ffffff
    --color-primary: #006EBD
    --color-primary-accent: #47ACF4
    --text-default: #1D1D1D
    --text-default-faded: #1d1d1daf

    --brdr-radius: .8rem

    --gap: 1.2em

[data-theme="light"]
    --bg-default: #ffffff
    --text-default: #1D1D1D
    --text-default-faded: #1d1d1daf
[data-theme="dark"]
    --bg-default: #0d1117
    --text-default: #c9d1d9
    --text-default-faded: #e8e6e6af
