.strip-tag
    padding: .3em .6em
    background: var(--__bg)
    color: #ffffff
    border-radius: 1em
    display: inline-block

    a
        color: inherit

    &.purple
        --__bg: #7925e3cc

    &.teal
        --__bg: #0F9393

    &.small
        font-size: 1.2rem

    &.normal
        font-size: 1.6rem
